
  body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* لتوسيط النصوص أيضًا */
}
#header-logo img {
  width: 500px;
  height: auto;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: #ffffff00;
  padding: 10px 0;
  position: relative;
}
.marquee-content {
  display: flex;
  animation: scroll-right 25s linear infinite;
}
.marquee-content img {
  margin-right: 30px;
  height: 150px;
  width: auto;
}
@keyframes scroll-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
/* hrader */
header img {
  transform: scale(0.4);
  margin-top: 30px;
}
header h2 {
  color: white;
  text-align: center;
  font-size: 42px;
  font-family: '5', Arial, sans-serif;
}
header h3 {
  color: white;
  text-align: center;
  font-family: '3', Arial, sans-serif;
  font-weight: 900;
}
hr {
  border: none;
  background-color: white;
  height: 3px;
  width: 80%;
  margin: 20px auto;
}
/* shareet */
.shareet {
  margin-top: 50px;
}
.shareet h2 {
  color: white;
  text-align: center;
  font-family: '3', Arial, sans-serif;
}
/* perfumes */
.perfumes {
  color: white;
  text-align: center;
  font-family: '3', Arial, sans-serif;
}

.perfumes .perfume {
  margin-top: 20px;
  border-radius: 0% 40% 0% 0%;
  text-align: end;
  color: black;
  background-color: white;
  padding: 10px;
}
.perfumes .Beauty {
  border-radius: 40% 0% 0% 0%;
  text-align: center;
  color: black;
  background-color: white;
  padding: 10px;
  margin-left: 230px ;
}
.perfumes h4 {
  font-family: '5' !important;
  font-size: 16px !important;
}
.b img {
  transform: scale(0.8);
}
/* moase */
.moase {
  color: white;
  text-align: center;
  font-family: '3', Arial, sans-serif;
}
.moase img {
  transform: scale(0.5);
}
/* medua */
.medua {
  color: white;
  text-align: center;
}
.medua img {
  transform: scale(0.3);
}
/* footer */
footer {
  color: white;
  text-align: center;
  margin-bottom: 100px;
}
footer .n1 {
  font-size: 16px;
  font-family: '3', Arial, sans-serif;
}
footer .n2 {
  font-size: 14px;
  font-family: '3', Arial, sans-serif;
}
footer .n3 {
  font-size: 12px;
  font-family: '2', Arial, sans-serif;
}
footer a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.shareet h2 {
  font-family: '3', Arial, sans-serif !important;
}
.n3 {
  font-family: '3', Arial, sans-serif !important;
}

@font-face {
  font-family: '1';
  src: url('../font/ge dinarone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '2'; /* اسم الخط */
  src: url('../font/ArbFONTS-GE-Dinar-Two-Light-Italic.otf') format('opentype'); /* المسار إلى ملف الخط */
  font-weight: normal; /* الوزن الافتراضي */
  font-style: italic; /* نوع الخط */
}
@font-face {
  font-family: '3';
  src: url('../font/ArbFONTS-GE-Dinar-Two-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '4';
  src: url('../font/ArbFONTS-GE-Dinar-Two-Medium-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '5';
  src: url('../font/Foda-Free-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 501px) {
  .perfumes .perfume h4 {
    font-size: 12px !important;
    font-family: '5', Arial, sans-serif !important;
  }
  .Beauty h4 {
    font-size: 12px !important;
    font-family: '5', Arial, sans-serif !important;
  }
  .perfumes .Beauty {
    width: fit-content;
   margin-left: 0px !important;
}
  .moase h2 {
    font-size: 20px;
  }
  .n1 {
    font-size: 20px;
  }
  .n2 {
    font-size: 20px;
  }
  .n3 {
    font-size: 20px;
  }
  @keyframes scroll-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-550%);
    }
  }
}
@media (max-width: 600px) {
  body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: #ffffff00;
  padding: 10px 0;
  position: relative;
}
.marquee-content {
  display: flex;
  animation: scroll-right 15s linear infinite;
}
.marquee-content img {
  margin-right: 30px;
  height: 100px;
  width: auto;
}
@keyframes scroll-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-450%);
  }
}
/* hrader */
header img {
  transform: scale(0.4);
  margin-top: 30px;
}
header h2 {
  color: white;
  text-align: center;
  font-size: 42px;
  font-family: '5', Arial, sans-serif;
}
header h3 {
  color: white;
  text-align: center;
  font-family: '3', Arial, sans-serif;
  font-weight: 900;
}
hr {
  border: none;
  background-color: white;
  height: 3px;
  width: 80%;
  margin: 20px auto;
}
/* shareet */
.shareet {
  margin-top: 50px;
}
.shareet h2 {
  color: white;
  text-align: center;
  font-family: '3', Arial, sans-serif;
}
/* perfumes */
.perfumes {
  color: white;
  text-align: center;
  font-family: '3', Arial, sans-serif;
}

.perfumes .perfume {
  margin-top: 20px;
  border-radius: 0% 40% 0% 0%;
  text-align: end;
  color: black;
  background-color: white;
  padding: 10px;
}
  .Beauty h4 {
    font-size: 12px !important;
    font-family: '5', Arial, sans-serif !important;
  }
  .perfumes .Beauty {
    width: fit-content;
   margin-left: 0px !important;
}
.b img {
  transform: scale(0.8);
}
/* moase */
.moase {
  color: white;
  text-align: center;
  font-family: '3', Arial, sans-serif;
}
.moase img {
  transform: scale(0.5);
}
/* medua */
.medua {
  color: white;
  text-align: center;
}
.medua img {
  transform: scale(0.3);
}
/* footer */
footer {
  color: white;
  text-align: center;
  margin-bottom: 100px;
}
footer .n1 {
  font-size: 16px;
  font-family: '3', Arial, sans-serif;
}
footer .n2 {
  font-size: 14px;
  font-family: '3', Arial, sans-serif;
}
footer .n3 {
  font-size: 12px;
  font-family: '2', Arial, sans-serif;
}
footer a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.shareet h2 {
  font-family: '3', Arial, sans-serif !important;
}
.n3 {
  font-family: '3', Arial, sans-serif !important;
}

}
