header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
}
a {
    color: #000000;
    text-decoration: none;
}
.social-media {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.social-media img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.logo {
    text-align: center;
    margin: 20px 0;
}
main {
    background-color: #717171;
    padding: 20px;
    text-align: center;
}
footer {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}